html
head
    block title
        title #{server.cnName}
    include head
    script(type="text/javascript",src="/js/index.js")
body.easyui-layout
    div(data-options="region:'north'",style="height:70px;")
        h1(style="padding-left:10px;") #{server.cnName}
    div(data-options="region:'west',title: '菜单栏'",style="width:220px;")
        ul.easyui-tree#menu
            li(iconCls="icon icon-sys",data-options="attributes:{href: '/list.html?message=list1'}")
                span list1
            li(iconCls="icon icon-class",data-options="attributes:{href: '/list.html?message=list2'}")
                span list2
    div(data-options="region:'center'")
        block content
            div#tabs.easyui-tabs(style="height: 100%;",fit="true")